:root {
    --total-elements: 16;
}

.sketchArea {
    display: grid;
    grid-template-columns: repeat(var(--total-elements), 1fr);
    grid-template-rows: repeat(var(--total-elements), 1fr);
    width: 800px;
    height: 800px;
}

.gridElement {
    border: 1px solid gray;
}

.hoveredElement {
    background-color: black;
}